# Application
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Authentication
JWT_SECRET=
THROTTLE_TTL=60000
THROTTLE_LIMIT=10

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600

# Google Sheets API (Attendance & Assignment Export)
ATTENDANCE_SPREADSHEET_ID=
ASSIGNMENT_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Waway API
WAWAY_API_KEY=
WAWAY_DEVICE_ID=
WAWAY_BASE_URL=https://apiwaway.neotelemetri.id/api
